<div id="nix-modal-supplier--answer"></div>
<form action="" method="post" enctype="multipart/form-data" id="nix-modal-supplier--form" class="form-horizontal">
	{% if supplier_id %}
	<input type="hidden" name="supplier_id" id="input-supplier-id" value="{{ supplier_id }}">
	{% endif %}
	
	<fieldset>
		<legend>{{ supplier_fieldset_settings }}</legend>
		<div class="form-group required">
			<label class="col-sm-4 control-label" for="input-name">{{ entry_supplier_name }}</label>
			<div class="col-sm-8">
				<input type="text" name="name" id="input-name" class="form-control input-sm" value="{{ supplier.name ? supplier.name : '' }}">
			</div>
		</div>
		<div class="form-group hidden">
			<label class="col-sm-4 control-label" for="input-link-price">{{ entry_supplier_link_price }}</label>
			<div class="col-sm-8">
				<input type="text" name="link_price" id="input-link-price" class="form-control input-sm" value="{{ supplier.link_price ? supplier.link_price : '' }}">
			</div>
		</div>
    <div class="form-group required">
			<label class="col-sm-4 control-label" for="input-markup">{{ entry_supplier_markup }}</label>
			<div class="col-sm-8">
				<input type="number" name="markup" id="input-markup" class="form-control input-sm" value="{{ supplier.markup ? supplier.markup : '0' }}">
			</div>
		</div>
	</fieldset>
	
	<p>&nbsp;</p>

	<fieldset>
		<legend>{{ supplier_fieldset_tags }}</legend>
		<div class="form-group required">
			<label class="col-sm-4 control-label" for="input-tag-name">{{ entry_tag_product_name }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[name]" id="input-tag-name" class="form-control input-sm" value="{{ supplier.tags.name ? supplier.tags.name : '' }}">
			</div>
		</div>
		<div class="form-group required">
			<label class="col-sm-4 control-label" for="input-tag-model">{{ entry_tag_product_model }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[model]" id="input-tag-model" class="form-control input-sm" value="{{ supplier.tags.model ? supplier.tags.model : '' }}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="input-tag-sku">{{ entry_tag_product_sku }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[sku]" id="input-tag-sku" class="form-control input-sm" value="{{ supplier.tags.sku ? supplier.tags.sku : '' }}">
			</div>
		</div>
		<div class="form-group required">
			<label class="col-sm-4 control-label" for="input-tag-price-purchasing">{{ entry_tag_product_price_purchasing }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[price_purchasing]" id="input-tag-price-purchasing" class="form-control input-sm" value="{{ supplier.tags.price_purchasing ? supplier.tags.price_purchasing : '' }}">
			</div>
		</div>		
		<div class="form-group">
			<label class="col-sm-4 control-label" for="input-tag-price-rrp">{{ entry_tag_product_price_rrp }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[price_rrp]" id="input-tag-price-rrp" class="form-control input-sm" value="{{ supplier.tags.price_rrp ? supplier.tags.price_rrp : '' }}">
			</div>
		</div>
    <div class="form-group">
			<label class="col-sm-4 control-label" for="input-tag-quantity">{{ entry_tag_product_quantity }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[quantity]" id="input-tag-quantity" class="form-control input-sm" value="{{ supplier.tags.quantity ? supplier.tags.quantity : '' }}">
			</div>
		</div>
		<div class="form-group required">
			<label class="col-sm-4 control-label" for="input-tag-images">{{ entry_tag_product_images }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[images]" id="input-tag-images" class="form-control input-sm" value="{{ supplier.tags.images ? supplier.tags.images : '' }}">
			</div>
		</div>
		<div class="form-group required">
			<label class="col-sm-4 control-label" for="input-tag-category">{{ entry_tag_product_category }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[category]" id="input-tag-category" class="form-control input-sm" value="{{ supplier.tags.category ? supplier.tags.category : '' }}">
			</div>
		</div>
		<div class="form-group required">
			<label class="col-sm-4 control-label" for="input-tag-manufacturer-name">{{ entry_tag_product_manufacturer_name }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[manufacturer_name]" id="input-tag-manufacturer-name" class="form-control input-sm" value="{{ supplier.tags.manufacturer_name ? supplier.tags.manufacturer_name : '' }}">
			</div>
		</div>
    <div class="form-group required">
			<label class="col-sm-4 control-label" for="input-tag-description">{{ entry_tag_product_description }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[description]" id="input-tag-description" class="form-control input-sm" value="{{ supplier.tags.description ? supplier.tags.description : '' }}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" for="input-tag-attributes">{{ entry_tag_product_attributes }}</label>
			<div class="col-sm-8">
				<input type="text" name="tags[attributes]" id="input-tag-attributes" class="form-control input-sm" value="{{ supplier.tags.attributes ? supplier.tags.attributes : '' }}">
			</div>
		</div>
	</fieldset>
	
	<p>&nbsp;</p>
	
	<fieldset>
		<legend>{{ supplier_fieldset_attributes }}</legend>
		<div class="form-group required">
			<label class="col-sm-4 control-label" for="input-attribute-parent-id">{{ entry_attribute_parent_id }}</label>
			<div class="col-sm-8">
				<input type="text" name="attributes[parent_id]" id="input-attribute-parent-id" class="form-control input-sm" value="{{ supplier.attributes.parent_id ? supplier.attributes.parent_id : '' }}">
			</div>
		</div>
	</fieldset>
	
</form>